html,
body {
    height: 100%;
    font-size: 24px;
    font: 1em Arial;
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    background: url(/proekts3/Images/background.jpg);
    overflow-x: hidden;
}

/* kopēja konteinera stili */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* header stili */
.header {
    display: flex;
    position: sticky;
    padding: 10px 10px 10px 10px;
    text-align: justify;
    justify-content: space-between;
    background-color: rgb(16, 20, 25);
    color: #fff;
    z-index: 4;
}

.panel {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

/* ievades loga stili */
.search-box {
    position: relative;
    background-color: #D9D9D9;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    float: right;
    width: 40px;
    height: 20px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #000;
    font-size: 17px;
    transition: 0.4s;
    width: 350px;
}

@media only screen and (max-width: 620px) {
    .search-txt {
        width: 255px;
        transition: all .7s;
    }
}

/* navigaciju un pogu stili */
.navigation {
    display: flex;
    position: relative;
    align-items: center;
}

a.button {
    color: rgb(0, 0, 0);
    background-color: #D9D9D9;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
    padding: 0.3em 1em;
    border-radius: 4px;
    transition: 0.2s;
}

a.button:hover { 
    background: rgba(255, 255, 255, 0.286);
    box-shadow: 0 0 0 1px #aaa, 0 1px 1px #aaa;
}

.navigation_button li {
    display: inline-block;
    position: relative;
    padding: 10px;
    font-size: 17px;
    margin-left: 2px;
}

/* intro stili */
.intro_contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/proekts3/Images/intro4.png);
    background-attachment:fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 82vh;
}

.intro_text {
    display: flex;
    position: relative;
    font-size: 3em;
    padding-top: 10%;
    color: #842525;
    font-family: 'Permanent Marker', cursive;
}

.line {
    width: 60%;
    height: 0px;
    border: 2px solid #EDE8E8;
}

/* main stili */
.main {
    flex: 1 1 auto;
}

/* visi bloku stili */
.saziņa {
    width: 100%;
    max-width: 1400px;
    padding: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.contact_info, .contact_form {
    flex: 1;
}

.item {
    margin-bottom: 40px;
    font-size: 20px;
}

.item a {
    color: #D9D9D9;
    text-decoration: none;
    font-weight: bolder;
    padding: 5px;
    background-color: #000;
    transition: all .3s ease;
}

.item a:hover {
    color: #842525;
    background-color: #201f1f;
    border-radius: 10px;
    transition: all .3s ease;
}

/* ikonu stili */
.fa-phone, .fa-envelope, .fa-location-dot, .fa-globe{
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #D9D9D9;
    color: black;
    text-align: center;
    border-radius: 50%;
    margin-right: 16px;
}

/* visi form (saziņa) stili */
.contact_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textcont {
    width: calc(50% - 10px);
    height: 40px;
    background-color: #EDE8E8;
    border: none;
    color: #000;
    margin-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
}

textarea {
    width: 100%;
    min-height: 245px;
    max-height: 350px;
    background-color: #EDE8E8;
    border: none;
    color: #000;
    margin-bottom: 20px;
    resize: vertical;
    border: 2px solid rgb(0, 0, 0);
}

/* nosutišanas pogas stili */
.nosutišana {
    width: 100%;
    height: 20px;
    background-color: #EDE8E8;
    border: none;
    color: #000;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    transition: .3s linear;
}

.nosutišana:hover {
    background-color: #595959;
}

@media only screen and (max-width: 980px) {
    .saziņa {
        max-width: 800px;
    }

    .contact_info, .contact_form {
        flex: 100%;
        margin-bottom: 30px;
    }

    .textcont {
        width: 100%;
    }
}

.beigas {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.information {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 95%;
    background-color: rgba(36, 35, 35, 0.804);
    border-radius: 10px;
    margin-bottom: 2%;
}

/* tabulas stili */
.item2 {
    flex: 25%;
    font-size: 160%;
    text-align: left;
    background-color: #EDE8E8;
    margin: 10px;
    border: 3px solid rgb(123, 123, 123);
    border-radius: 10px;
}

.item2 th {
    color: #000;
    font-size: 0.7em;
    border-bottom: 1px solid rgb(123, 123, 123);
    padding: 18px 13px;
    text-align: center;
}

.item2 td {
    color: #000;
    font-size: 0.7em;
    border-bottom: 1px solid rgb(123, 123, 123);
    border-right: 1px solid rgb(123, 123, 123);
    padding: 7px 17px;
    text-align: center;
}

.item2 tr:hover td {
    cursor: pointer;
    text-decoration: underline;
}

.text {
    width: 80%;
    color: #fff;
    font-size: 23px;
    text-align: center;
    margin: 1.5em auto 3em auto;
}

/* futera stili */
.footer {
    display: flex;
    padding: 10px;
    text-align: justify;
    justify-content: space-between;
    background-color: rgba(36, 35, 35, 0.804);
    color: #fff;
}

/* ikonu stili  */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

.social a {
    text-align: center;
    width: 30px;
    height: 30px;
    float: left;
    background: #fff;
    border-radius: 20px;
    margin: 0 10px 10px 0;
    padding: 6px;
    color: #000;
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.github a:hover {
    background: #191919;
    color: #fff;
}

.windows a:hover {
    background: #125acd;
    color: #fff;
}

.twitter a:hover {
    background: #00acee;
    color: #fff;
}

.whatsapp a:hover {
    background: #50b154;
    color: #fff;
}

.aboutcomp {
    width: 60%;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* teksta stili futerā */
.copyright {
    text-align: center;
    padding-top: 20px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

h3 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    position: relative;
}

h3.sakums {
    color: #842525;
    font-size: 2em;
    text-align: center;
    position: relative;
    padding-bottom: 45px;
}
